.root {
  background-color: #323232;
  padding: 1rem;
  border-radius: 2px;
  position: relative;
  height: -webkit-fill-available;
}

@media screen and (max-width: 800px) {
  .root {
    min-height: 400px;
  }
}
